#### 서울 열린데이터 광장 공공데이터 수집

서울열린데이터광장

주소 : https://data.seoul.go.kr/together/mypage/actkeyMain.do

In [1]:
import requests
import pandas as pd

In [7]:
# API 검색키
SEOUL_API_KEY = '456d52467564626531303753796c624c'

In [2]:
# 시군구 목록 API
url = 'https://openapi.seoul.go.kr:8088'

In [15]:
# 서울시 시군구별 인구 데이터
pop_df = pd.read_excel('./주민등록인구_202307.xlsx', header=1, usecols='B:H')
colums = {'동별(2)':'구', '세대(세대)': '세대수', '계':'계', '한국인':'한국인', 
        '등록외국인':'외국인', '세대당인구':'비율', '65세이상고령자':'고령자'}
pop_df.rename(columns=colums, inplace=True)

In [14]:
pop_df

       구  세대 (세대)       계     한국인    외국인    비율     고령자
1    종로구    72679  152212  141060  11152  1.94   28265
2     중구    63862  131390  120963  10427  1.89   25353
3    용산구   109735  232482  217756  14726  1.98   39478
4    성동구   133513  287240  280240   7000  2.10   48238
5    광진구   169787  350925  336801  14124  1.98   54854
6   동대문구   171140  354884  337574  17310  1.97   65154
7    중랑구   187898  389928  385003   4925  2.05   76116
8    성북구   197859  441855  430100  11755  2.17   78427
9    강북구   144557  296934  292762   4172  2.03   67056
10   도봉구   138376  312858  310509   2349  2.24   68114
11   노원구   218341  506989  502515   4474  2.30   93279
12   은평구   213989  468766  464871   3895  2.17   90556
13  서대문구   147146  321966  308437  13529  2.10   56785
14   마포구   181034  376542  365570  10972  2.02   56582
15   양천구   181072  442345  439219   3126  2.43   73522
16   강서구   274283  573711  568287   5424  2.07   98659
17   구로구   184268  417983  395183  22800  2.14   77259
18   금천구   120051  242467  229307  13160  1.91   43772
19  영등포구   190252  398999  376614  22385  1.98   66014
20   동작구   186534  390377  380201  10176  2.04   68766
21   관악구   285914  502628  487815  14813  1.71   83420
22   서초구   168234  408979  404831   4148  2.41   63328
23   강남구   234735  537817  532798   5019  2.27   83097
24   송파구   285489  663704  658006   5698  2.30  105161
25   강동구   202637  464027  459982   4045  2.27   79706

In [18]:
# 첫번째 행인 합계 삭제
pop_df.drop([0], axis=0, inplace=True)
pop_df

       구  세대 (세대)       계     한국인    외국인    비율     고령자
1    종로구    72679  152212  141060  11152  1.94   28265
2     중구    63862  131390  120963  10427  1.89   25353
3    용산구   109735  232482  217756  14726  1.98   39478
4    성동구   133513  287240  280240   7000  2.10   48238
5    광진구   169787  350925  336801  14124  1.98   54854
6   동대문구   171140  354884  337574  17310  1.97   65154
7    중랑구   187898  389928  385003   4925  2.05   76116
8    성북구   197859  441855  430100  11755  2.17   78427
9    강북구   144557  296934  292762   4172  2.03   67056
10   도봉구   138376  312858  310509   2349  2.24   68114
11   노원구   218341  506989  502515   4474  2.30   93279
12   은평구   213989  468766  464871   3895  2.17   90556
13  서대문구   147146  321966  308437  13529  2.10   56785
14   마포구   181034  376542  365570  10972  2.02   56582
15   양천구   181072  442345  439219   3126  2.43   73522
16   강서구   274283  573711  568287   5424  2.07   98659
17   구로구   184268  417983  395183  22800  2.14   77259
18   금천구   120051  242467  229307  13160  1.91   43772
19  영등포구   190252  398999  376614  22385  1.98   66014
20   동작구   186534  390377  380201  10176  2.04   68766
21   관악구   285914  502628  487815  14813  1.71   83420
22   서초구   168234  408979  404831   4148  2.41   63328
23   강남구   234735  537817  532798   5019  2.27   83097
24   송파구   285489  663704  658006   5698  2.30  105161
25   강동구   202637  464027  459982   4045  2.27   79706

In [24]:
# 인덱스 재정의
pop_df.reset_index(drop=True, inplace=True)
pop_df.describe()

,세대 (세대),계,한국인,외국인,비율,고령자
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,178535.400000,386720.320000,377056.160000,9664.160000,2.098800,67638.440000
std,56991.180797,125448.387589,127085.235049,5897.176405,0.172006,20424.645272
min,63862.000000,131390.000000,120963.000000,2349.000000,1.710000,25353.000000
25%,144557.000000,312858.000000,308437.000000,4474.000000,1.980000,56582.000000
50%,181072.000000,390377.000000,380201.000000,10176.000000,2.070000,68114.000000
75%,202637.000000,464027.000000,459982.000000,13529.000000,2.240000,79706.000000
max,285914.000000,663704.000000,658006.000000,22800.000000,2.430000,105161.000000

In [21]:
seoul_last_df = pop_df[['구','계']]

In [23]:
seoul_last_df.to_excel('./seoul_pop.xlsx', index=False)

In [ ]:
##### 서울시 시군구별 사업체 데이터